<!DOCTYPE html>
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html> -->
<head>
    <title>New Avatar</title>
    <script src="scripts/mechanics/Base.js"></script>
    <script src="scripts/mechanics/entities.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="scripts/rooms/tile.js"></script>
    <script src="scripts/rooms/room.js"></script>
    <script src="scripts/sprites/sprite.js"></script>
    <script src="scripts/characters/charloader.js"></script>
    <script src="scripts/characters/charsheet.js"></script>
    <script src="scripts/characters/character_gen.js"></script>
    <script src="scripts/characters/avatar.js"></script>
    <link href="styles/multiple-select.css" rel="stylesheet" />
    <link href="styles/createchar.css" rel="stylesheet" />
</head>

<body>
    <div style="display: flex; flex-direction: column; justify-content: flex-start; margin-right: 5px;">
        <div style="display: flex; justify-content: flex-start;">
            <a href="/">Back</a>
            <h1 style="margin: 0;">New Avatar</h1>
        </div>
        <div id="selections">
            <form action="/avatars" method="post">
                <p>Your reason for being angry
                    <input type="text" name="name">
                </p>
                <!-- Gender -->
                <p>
                    Race:
                    <select name="race">
                        <!-- <option value="undefined">Select</option> -->
                        <%for(let i=0;i<races.length;i++){%>
                            <option value="<%=races[i]%>"><%=races[i]%></option>
                        <%}%>
                    </select>
                    Gender:
                    <select name="gender">
                        <!-- <option value="undefined">Select</option> -->
                        <%for(let i=0;i<gender.length;i++){%>
                            <option value="<%=gender[i]%>"><%=gender[i]%></option>
                        <%}%>
                    </select>
                </p>
                <p>
                <!-- Hair Color -->
                    Hair Color:
                    <select name="hair_color">
                        <!-- <option value="undefined">Select</option> -->
                        <%for(let i=0;i<hair_colors.length;i++){%>
                            <option value="<%=hair_colors[i]%>"><%=hair_colors[i]%></option>
                        <%}%>
                    </select>
                    <!-- Hair Style -->
                    Hair Style:
                    <select name="hair_style">
                        <!-- <option value="undefined">Select</option> -->
                        <%for(let i=0;i<hair_styles.length;i++){%>
                            <option value="<%=hair_styles[i]%>">
                                <%=hair_styles[i]%>
                            </option>
                            <%}%>
                    </select>
                </p>
                <p>
                <!-- Beard -->
                    Beard: 
                    <select name="beard" id="beard">
                        <option value="">Select</option>
                        <%for(let i=0;i<beards.length;i++){%>
                            <option value="<%=beards[i]%>"><%=beards[i]%></option>
                        <%}%>
                    </select>
                </p>
                <input type="hidden" name="allSprites" id="allSprites">

                <input type="submit" value="Submit Form">
            </form>
            <button id="preview">Print Avatar</button>
            <button id="clear">Clear Avatar</button>
        </div>
        <canvas id="charcanvas" width="256" height="256"></canvas>
    </div>
    <!-- <div id="tilepickercontainer" style="overflow: auto; width: 100%; height: 99%; border: solid black 1px;">
        <canvas id="tilepicker"></canvas>
    </div> -->
</body>